html {background-color: #ffffff; }
body {width: 1000px; margin: 0 auto; background-color: #d3d4d4; border: 5px solid black; padding: 20px 20px 20px 20px;  }
h1 {color: #fbae28; font-family: arial; margin-left: 10px; }
h2, h3 {font-family: arial; margin-left: 10px;}
ol li {font-weight:bold;  font-family: arial; font-size: 16px; }
li {font-family: arial;  font-size: 16px; margin-left: 20px;}
p {margin-left: 25px; font-family: arial;  font-size: 16px; }

